body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 8em;
}

@media (max-width: 767.98px) {
    .logo {
        width: 6em;
    }

    .container {
        width: 90%;
    }

    .display-4 {
        font-size: 3em;
    }
}